core/__pycache__/
notebooks/.ipynb_checkpoints/
.DS_Store
/.idea/
COVID19.iml
views/plots/__pycache__/
views/layouts/__pycache__/
views/__pycache__/
datasync/__pycache__/
analyser/__pycache__/
/covid/
/data/covid_Series.csv
/data/covid.csv

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
