core/__pycache__/
notebooks/.ipynb_checkpoints/
.DS_Store
/.idea/
COVID19.iml
visuals/__pycache__/
/covid/
/data/covid_Series.csv
/data/covid.csv

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
